

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  vertical-align: center;
  border: 0px;
}

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit {
  background-color:transparent;
  border: 0px;
  color: white;
}

section {
  background-image: url("../background.jpg");
  -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 height: 100%;
 align-items: center

}


.ui-input-search {
  max-width: 500px;
  margin: auto;
  margin-top: 150px
}

.ui-btn {
  max-width: 500px;
  margin: 10px auto;
  display: inline;
}


#contact {
  background: transparent;
  border: 0px;
  color: white;
  -webkit-box-shadow: 0px 0px 0px;
}


#map {
  margin-top: 20px;
}

form > .ui-btn {
  width: 100px;
}

.bordered-element {
  border: solid 1px #444;
  border-radius: 2px;
}

#main {
  border: solid 1px #ccc;
  border-radius: 5px;
  color: #202020;
  margin: 20px 0;
  padding: 10px;
  background-color:white
}

.simple-form {
  padding: 5px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
}

.simple-form label {
  font-weight: bold;
}



/*
.simple-form input {
width: 150px;
}
*/

.simple-form input[type=text],
.simple-form select,
.simple-form input[type=password],
.simple-form textarea {
  width: 150px;
}

.simple-form input[type=submit] {
  background-color: #4682B4;
  font-weight: bold;
  color: white;
  border-radius: 15px;
  padding: 4px;
  margin-top: 5px;
}
.container {
  width: 989px;
  margin: 0 auto;
  background-color: white;
  padding: 5px;
}

#results {
  padding: 2px;
  width: 600px;
  display: inline-block;
  vertical-align: top;
}

header nav {
  float: right;
  margin-right: 5px;
}

header nav li {
  display: inline;
  font-size: 18px;
}

a {
  color: #4682B4;
}

.result {
	margin: 5px;
	border: 1px solid #888;
}

.result .title {
	font-weight: bold;
}

.links {
  margin: auto;
  width: 100%;
  text-align: center;
}

#contactUsForm  label
{
    width: 220px;
    text-align: center;
    display: inline-block;
    vertical-align: baseline;
	   padding: 5px;
}

#contactUsForm  {
  width: 500px;
}

#Comments{
	width: 400px;
	height: 100px;
	display: block;
  margin: auto;
}

.hidefirst {
	display: none;
}

#validateMsg {
	color: red;
}

.ui-content {
  text-align: center;
}

#player {
  width: 560px;
   height: 315px;
}

#map {
  height: 400px;
  width: 90%;
  margin: auto;
}

label {
  color: white;
}


@media screen and (max-width: 320px) {
  label {
    width: auto;
    text-align: left;
    display: block;
  }

  #map {
    height: 400px;
    width: 90%;
    margin: auto;
  }

}

@media screen and (min-width: 540px){
  #map {
    height: 600px;
    width: 60%;
    margin: auto;
  }
}
